@media screen and (max-width: 768px){
	html, body {
	overflow-x: hidden;
	font-family: 'Reem Kufi', sans-serif;
	width: 100%;
	background-color: #303030;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style-type: none;
	}

	a:hover,
	a:focus {
		text-decoration: none;
	}


	h1 {
		text-transform: none;
		font-weight: 600;
		font-family: 'Abhaya Libre', sans-serif;
		text-align: center;
		border: 5px;
	}
	
	section {
		align-items: center;
		margin: : 50px 60px;
	}

	.container-h1 {
	    font-family: 'Abhaya Libre', serif;
	    text-align: center;
	    font-size: 50px;
	    font-weight: 700;
	    margin: 50px auto;
	    color: #333;
	}

	.rotateimg90 {
	  -webkit-transform:rotate(90deg);
	  -moz-transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  transform: rotate(90deg);
	}

	/* ----- Header & Navigation ----- */

	.navbar {
		background-color: #303030;
		font-family: "Reem Kufi" ;
		font-weight: 50;
		padding: 10px 0;
		transition: padding .5s;
	}

	.navbar .navbar-brand:hover,
	.navbar .navbar-brand:focus {
		color: #ffc266;
		transition: color 1s;
	}

	.navbar .navbar-nav {
		padding-right: 50px;
	}

	.navbar .navbar-nav > li > a {
		font-weight: 500;
		font-size: 25px;
		color: #fff;
		margin: auto 5px;   
	}
	.navbar .navbar-nav > li > a:hover,
	.navbar .navbar-nav > li > a:focus:hover {
		color: #ffc266;
		transition: color 1s; 
	}

	.navbar .navbar-nav > li.active > a:hover,
	.navbar .navbar-nav > li.active > a:focus:hover {
		background-color: transparent;
	}

	.navbar.scrolled {
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
		padding: 5px 0;
		opacity: 0.9;
	}

	.bgprofile {
		margin-bottom: 0px;
		background-image: url("Home Page.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0% 25%;
		position: relative;
		height: 750px;
	}

	/* ----- Profile ----- */
	.bg-profile {
		margin: auto 25px;
		background-color: #f9f5f3;
	}

	#profile h1 {
		padding-top: 75px;
		padding-bottom: 20px;
		font-size: 60px;
	}

	#profile h6{
		font-size: 24px;
	}

	#profile p{
		font-size: 20px;
		margin:0px;
	}

	.picture {
		position: relative;	
		top: 0px;
		left: 50px;
	}

	.picture2 {
		position: absolute;
		top: 70px;
		left: -50px;
	}
	.picture3 {
		position: absolute;
		bottom: -50px;
		right: 35px;
	}

	.picture4 {
		position: absolute;
		top: -20px;
		right: 100px;
	}

	/* ----- Interest ----- */
	.bg-interest {
		margin: auto 0px;
		background-color: #f9f5f3;
	}

	#interest h1 {
		padding-top: 20px;
		padding-bottom: 10px;
		font-size: 60px;
	}

	#interest .image {
		display: inline-block;
		width: 100%;
		margin-bottom: 80px;
		text-align: center;
	}

	#interest .middle {
		margin-left: 100px;
		margin-right: 100px;
	}

	/* ----- Contact ----- */
	.bg-contact {
		margin: auto 0px;
		background-color: #303030;
	}

	#contact h6{
		text-align: center;
		color: #ffffff;
		font-size: 35px;
	}

	#contact p{
		padding-top: 5px;
		text-align: center;
		font-size: 20px;
		color: #ffffff;
	}

	#contact img{
		max-width: 35px;
		text-align: center;
	}
	}

	/* ----- Shots ----- */
	.bg-events {
		margin: auto 25px;
		background-color: #f9f5f3;
	}

	#events h1 {
		padding-top: 100px;
		padding-bottom: 10px;
		font-size: 40px;
	}

	#events img {
		margin: 20px;
	}

	#events .image {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	/* ----- Personal ----- */
	.bg-personal {
		margin: auto 25px;
		background-color: #f9f5f3;
	}

	#personal h1 {
		padding-top: 100px;
		padding-bottom: 10px;
		font-size: 40px;
	}

	#personal img {
		margin: 20px;
	}

	#personal .image {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	/* ----- Shots ----- */
	.bg-shot {
		margin: auto 30px;
		background-color: #f9f5f3;
	}

	#shot h1 {
		padding-top: 100px;
		padding-bottom: 10px;
		font-size: 40px;
	}

	#shot img {
		margin: 20px;
	}

	#shot .image {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

}

html, body {
	overflow-x: hidden;
	font-family: 'Reem Kufi', sans-serif;
	width: 100%;
	background-color: #303030;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

a:hover,
a:focus {
	text-decoration: none;
}


h1 {
	text-transform: none;
	font-weight: 600;
	font-family: 'Abhaya Libre', sans-serif;
	text-align: center;
	border: 5px;
}

section {
	align-items: center;
	margin: : 50px 60px;
}

.container-h1 {
    font-family: 'Abhaya Libre', serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 50px auto;
    color: #333;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* ----- Header & Navigation ----- */

.navbar {
	background-color: #303030;
	font-family: "Reem Kufi" ;
	font-weight: 50;
	padding: 10px 0;
	transition: padding .5s;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: #ffc266;
	transition: color 1s;
}

.navbar .navbar-nav {
	padding-right: 50px;
}

.navbar .navbar-nav > li > a {
	font-weight: 500;
	font-size: 25px;
	color: #fff;
	margin: auto 5px;   
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus:hover {
	color: #ffc266;
	transition: color 1s; 
}

.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus:hover {
	background-color: transparent;
}

.navbar.scrolled {
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	padding: 5px 0;
	opacity: 0.9;
}

.bgprofile {
	margin-bottom: 0px;
	background-image: url("Home Page.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 25%;
	position: relative;
	height: 750px;
}

/* ----- Profile ----- */
.bg-profile {
	margin: auto 25px;
	background-color: #f9f5f3;
}

#profile h1 {
	padding-top: 75px;
	padding-bottom: 20px;
	font-size: 60px;
}

#profile h6{
	font-size: 24px;
}

#profile p{
	font-size: 20px;
	margin:0px;
}

.picture {
	position: relative;	
	top: 0px;
	left: 50px;
}

.picture2 {
	position: absolute;
	top: 70px;
	left: -50px;
}
.picture3 {
	position: absolute;
	bottom: -50px;
	right: 35px;
}

.picture4 {
	position: absolute;
	top: -20px;
	right: 100px;
}

/* ----- Interest ----- */
.bg-interest {
	margin: auto 0px;
	background-color: #f9f5f3;
}

#interest h1 {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 60px;
}

#interest .image {
	display: inline-block;
	width: 100%;
	margin-bottom: 80px;
	text-align: center;
}

#interest .middle {
	margin-left: 100px;
	margin-right: 100px;
}

/* ----- Contact ----- */
.bg-contact {
	margin: auto 0px;
	background-color: #303030;
}

#contact h6{
	text-align: center;
	color: #ffffff;
	font-size: 35px;
}

#contact p{
	padding-top: 5px;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
}

#contact img{
	max-width: 35px;
	text-align: center;
}

#contact .middle{
	margin-left: 50px;
	margin-right: 50px;
}

/* ----- Shots ----- */
.bg-events {
	margin: auto 25px;
	background-color: #f9f5f3;
}

#events h1 {
	padding-top: 100px;
	padding-bottom: 10px;
	font-size: 60px;
}

#events img {
	margin: 20px;
}

#events .image {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/* ----- Personal ----- */
.bg-personal {
	margin: auto 25px;
	background-color: #f9f5f3;
}

#personal h1 {
	padding-top: 100px;
	padding-bottom: 10px;
	font-size: 60px;
}

#personal img {
	margin: 20px;
}

#personal .image {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/* ----- Shots ----- */
.bg-shot {
	margin: auto 30px;
	background-color: #f9f5f3;
}

#shot h1 {
	padding-top: 100px;
	padding-bottom: 10px;
	font-size: 60px;
}

#shot img {
	margin: 20px;
}

#shot .image {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/* ----- Schedule ----- */
.bg-schedule{
	margin: auto 30px;
	background-color: #f9f5f3;
}

/* ----- Activities ----- */
.bg-activites{
	margin: auto 30px;
	background-color: #f9f5f3;
}