<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Karin Patricia's Profile">
    <meta name="author" content="A.K.">

    <title>Karin's Gallery</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Custom CSS -->  
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

    <!-- Custom Fonts -->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Reem+Kufi">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Abhaya+Libre">


</head>

<body id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60">

    <!-- ----- Header & Navigation ----- -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #303030;">
        <a class="navbar-brand" href="{% url 'homeApp:home' %}">
            <img src="{% static 'Logo.png' %}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#events">events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#personal">personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#shot">shots</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- ----- Events Section ----- -->
    <div class="bg-events bg-section" id="events">
        <div class="container-fluid">
            <h1 class="container-h1"> e v e n t s</h1>
            <div class="row image">
                <img src="{% static 'act01.jpg' %}" style="max-width: 250px">
                <img src="{% static 'act02.jpg' %}" style="max-width: 250px">
                <img src="{% static 'act03.jpg' %}" style="max-width: 250px">
            </div>
            <div class="row image" style="margin-bottom: 80px">
                <img src="{% static 'act04.jpg' %}" style="max-width: 250px">
                <img src="{% static 'act05.jpg' %}" style="max-width: 250px">
                <img src="{% static 'act06.jpg' %}" style="max-width: 250px">
            </div>
        </div>
    </div>

    <!-- ----- Personal Section ----- -->
    <div class="bg-personal bg-section" id="personal">
        <div class="container-fluid">
            <h1 class="container-h1"> p e r s o n a l </h1>
            <div class="row image">
                <img src="{% static 'self01.jpg' %}" style="max-width: 250px">
                <img src="{% static 'self02.jpg' %}" style="max-width: 250px">
                <img src="{% static 'self03.jpeg' %}" style="max-width: 250px">
                <img src="{% static 'self04.jpeg' %}" style="max-width: 250px">
            </div>
            <div class="row image" style="margin-bottom: 80px">
                <img src="{% static 'self05.jpg' %}" style="max-width: 250px">
                <img src="{% static 'self06.jpg' %}" style="max-width: 250px">
                <img src="{% static 'self07.jpeg' %}" style="max-width: 250px">
                <img src="{% static 'self08.jpeg' %}" style="max-width: 250px">
            </div>  
        </div>
    </div>

    <!-- ----- Shots Section ----- -->
    <div class="bg-shot bg-section" id="shot">
        <div class="container-fluid">
            <h1 class="container-h1"> s h o t s </h1>
            <div class="row image">
                <img src="{% static 'interest01.jpg' %}" class="rotateimg90" style="max-width: 250px">
                <img src="{% static 'interest02.jpg' %}" class="rotateimg90" style="max-width: 250px">
                <img src="{% static 'interest03.jpg' %}" class="rotateimg90" style="max-width: 250px">
                <img src="{% static 'interest04.jpg' %}" class="rotateimg90" style="max-width: 250px">
            </div>
            <div class="row image" style="margin-bottom: 50px">
                <img src="{% static 'interest05.jpg' %}" style="max-width: 250px">
                <img src="{% static 'interest06.jpg' %}" style="max-width: 250px">
                <img src="{% static 'interest07.jpg' %}" class="rotateimg90" style="max-width: 250px">
                <img src="{% static 'interest08.jpg' %}" style="max-width: 250px">
            </div> 
        </div>
    </div>

    <!-- ----- Contact ----- -->
    <div class="bg-contact bg-section" id="contact">
        <div class="container-fluid" style="text-align: center;">
            <h6> c o n t a c t </h6>
            <div class="image">
                <a href="https://www.instagram.com/karinptrc/?hl=en">
                    <img src="{% static 'instagram.png' %}">
                </a>
                <a href="https://www.pinterest.co.kr/karinptrc/">
                    <img src="{% static 'pinterest.png' %}" class="middle">
                </a>
                <a href="https://www.linkedin.com/in/karin-patricia-401093164/">
                    <img src="{% static 'linkedin.png' %}">
                </a>
            </div>
            <div>
                <p>karinptrc@gmail.com</p>
            </div> 
        </div>
    </div>
    
</body>
</html>