<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Karin Patricia's Profile">
    <meta name="author" content="A.K.">

    <title>Karin's Profile</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Custom CSS -->  
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

    <!-- Custom Fonts -->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Reem+Kufi">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Abhaya+Libre">


</head>

<body id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60">

    <!-- ----- Header & Navigation ----- -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="#">
            <img src="{% static 'Logo.png' %}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homeApp:activities' %}">schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homeApp:gallery' %}">gallery</a>
                </li>
            </ul>
        </div>  
    </nav>

    <div class="bgprofile">
        <div class="container-fluid">
        </div>
    </div>

    <!-- ----- Profile ----- -->
    <div class="bg-profile bg-section" id="profile">
        <div class="container-fluid">
            <div class="container-h1"></div>
            <h1 class="container-h1"> p r o f i l e </h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-6 offset-md-2">
                            <img src="{% static 'Profile.jpg' %}" class="image" style="max-width: 250px">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 offset-md-2">
                            <ul>
                                <li>
                                    <h6> UNIVERSITAS INDONESIA </h6>
                                    <p> Information System </p>
                                    <p> Faculty of Computer Science </p>
                                    <p> 2018 - present </p>
                                </li>
                                <br>
                                <li>
                                    <h6> SMA NEGERI 1 JAKARTA </h6>
                                    <p> Science </p>
                                    <p> 2015 - 2018 </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div> <span class="border-top" style="color: black; width: 10px;"></span>
                        <a href="https://drive.google.com/open?id=1Srp_xzx3VOWRmCAal0LuGcz-VwpT4T-E"> See my resume here.</a>
                    </div>
                </div>                

                <div class="col-sm-6">
                    <div class="picture">
                        <img src="{% static 'BGpicture.png' %}">
                        <div class="picture2">
                            <img src="{% static 'MPK.jpg' %}" alt="MPK" style="max-width: 250px">
                        </div>
                        <div class="picture3">
                            <img src="{% static 'Natal SRKP.jpg' %}" alt="Natal SRKP" style="max-width: 350px">
                        </div>
                        <div class="picture4">
                            <img src="{% static 'Skills.png' %}" style="max-width: 250px">
                        </div>
                        
                    </div> 
                </div>     
            </div>
    </div>

    <!-- ----- Interest ----- -->
     <div class="bg-interest bg-section" id="interest">
        <div class="container-fluid">
            <h1 class="container-h1"> i n t e r e s t </h1>
            <div class="image">
                <img src="{% static 'interest01.jpg' %}" class="rotateimg90" style="max-width: 250px">
                <img src="{% static 'interest02.jpg' %}" class="rotateimg90 middle" style="max-width: 250px">
                <img src="{% static 'interest03.jpg' %}" class="rotateimg90" style="max-width: 250px">
            </div>  
        </div>
    </div>




    <!-- ----- Contact ----- -->
    <div class="bg-contact bg-section" id="contact">
        <div class="container-fluid" style="text-align: center;">
            <h6> c o n t a c t </h6>
            <div class="image">
                <a href="https://www.instagram.com/karinptrc/?hl=en">
                    <img src="{% static 'instagram.png' %}">
                </a>
                <a href="https://www.pinterest.co.kr/karinptrc/">
                    <img src="{% static 'pinterest.png' %}" class="middle">
                </a>
                <a href="https://www.linkedin.com/in/karin-patricia-401093164/">
                    <img src="{% static 'linkedin.png' %}">
                </a>
            </div>
            <div>
                <p>karinptrc@gmail.com</p>
            </div> 
        </div>
    </div>

</body>
</html>