<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Karin Patricia's Schedule">
    <meta name="author" content="A.K.">

    <title>Karin's Schedule</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Custom CSS -->  
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

    <!-- Custom Fonts -->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Reem+Kufi">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Abhaya+Libre">


</head>

<body id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60">

    <!-- ----- Header & Navigation ----- -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #303030">
        <a class="navbar-brand" href="{% url 'homeApp:home' %}">
            <img src="{% static 'Logo.png' %}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- ----- Add Schedule ---- -->
    <div class="bg-schedule">
        <div class="container-fluid">
            
        

        <div class="row">
        <div class="col-4"> 
            <h1>{{ time }}</h1>
            <h1 class="container-h1" style="margin-top: 100px">add your new task below</h1>
        <form method="POST" class="form">
            {% csrf_token %}
            <p>Nama Kegiatan</p>
            {{ form.nama_kegiatan }}
            <br>
            <p>Tempat</p>
            {{ form.tempat }}
            <br>
            <p>Kategori</p>
            {{ form.kategori }}
            <br>
            <p>Tanggal</p>
            {{ form.tanggal }}
            <br>
            <p> Waktu </p>
            {{ form.waktu }}
        
        <div>
            <input type="submit" value="Submit" />
        </div>
        
        </form>
        </div>

        

        <div class="col-8">
        <h1 class="container-h1" style="margin-top: 100px">list activities</h1>
        {% for task in tasksname %}
                <h2>[{{task.kategori}}] --- {{ task.nama_kegiatan }}</h2>
                <div class="flex">
                    <div>
                        <h4>di {{ task.tempat }} </h4>
                        <p>pada {{task.tanggal}} --- {{task.waktu}} </p>
                    </div>
                    <form action="delete" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ task.id }}" name="id" />
                        <input type="submit" value="Delete" />
                    </form>
                </div>
        {% endfor %}
        </div>


        </div>
        </div>
        
    </div>
<!--
    <!- ----- Contact ----- --
    <div class="bg-contact bg-section" id="contact">
        <div class="container-fluid" style="text-align: center;">
            <h6> c o n t a c t </h6>
            <div class="image">
                <a href="https://www.instagram.com/karinptrc/?hl=en">
                    <img src="{% static 'instagram.png' %}">
                </a>
                <a href="https://www.pinterest.co.kr/karinptrc/">
                    <img src="{% static 'pinterest.png' %}" class="middle">
                </a>
                <a href="https://www.linkedin.com/in/karin-patricia-401093164/">
                    <img src="{% static 'linkedin.png' %}">
                </a>
            </div>
            <div>
                <p>karinptrc@gmail.com</p>
            </div> 
        </div>
    </div>
-->
    
</body>
</html>